.commentBox{
    width: 580px;
    background-color: #f0f6fb;
    border-top: 1px solid #d2d2d6;
}

.imgSrc img{
    width: 35px;
    height: 35px;
    margin-top: 8px;
    margin-left: 20px;
    border-radius: 50%;
}

.commentBox span{
    font-size: 10px;
    position: relative;
    left: 8px;
    top: -15px;
    color: #000;
}

.comment{
    height: 30px;
    width: 580px;
    margin-left: 50px;
    margin-top: 15px;
    width: 490px;
    font-size: 12px;
}